* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    color :red
;    text-align : centre;
    margin-bottom : 10px;
}
body {
     background : orange;
     min-height: 100vh;
     display : flex;
     justify-content: center;
     align-items: centre;
     padding : 16px;
}
container {
    background-color: brown;
    padding : 200px;
    width : 200 px;
}
input {
    width :100px;
    padding :8px;
    margin-bottom: 10px;
}
